div{
    border:5px white solid;
    padding:30px;
    border-radius:200px 100px;
    text-align:center;
       position: relative;
    top:50px;
    left:10px;
}

body{
  background-color:#f54542;
    color:white;
}
